B9ZL3Q_0928/SZÁ_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT konyvek (konyv*)>
<!ELEMENT konyv (cim, ev, kiado, szerzo+, absztrakt?)>
<!ATTLIST konyv id ID #REQUIRED>
<!ELEMENT cim (#PCDATA)>
<!ELEMENT ev (#PCDATA)>
<!ELEMENT kiado (#PCDATA)>
<!ELEMENT szerzo (#PCDATA)>
<!ELEMENT absztrakt (#PCDATA)>
